@import "./mixins";
@import "./variables";

//Resets
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

//Body
body {
	font-size: 1.4rem;
	font-family: $openSans;
	font-weight: 400;
	line-height: 2.1rem;
	color: $darkBlue;
}

//Typography
h1,
h2,
h3 {
	font-weight: 700;
}

h1,
h2 {
	color: $darkBlue;
}

h1 {
	font-size: 2.4rem;
	line-height: 3.6rem;
}

h2,
h3 {
	line-height: 2.4rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.8rem;
	font-family: $Raleway;
	color: $white;
}

@include lg {
	//Body
	body {
		font-size: 1.6rem;
	}

	//Typography
	h1,
	h2 {
		font-size: 4rem;
	}

	h1 {
		line-height: 6rem;
	}

	h2 {
		line-height: 4.7rem;
	}

	h3 {
		font-size: 3.2rem;
		line-height: 4.8rem;
	}
}
